:root{
    --basic-font-size: 1.1rem;
    --header-font-size: 1.8rem;
    --font-semi-bold: 600;
}

*{
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* Laptop or computer screen */
@media screen and (min-width: 1118px) {
    body{
        padding-top: 5rem;
    }
}

/* phone and small screen */
@media screen and (max-width: 1118px) {
    body{
        padding-top: 3.5rem;
    }
}

body{
    background-color: hsl(219, 25%, 25%);
}

.music {
    margin-top: 1rem;
    margin-inline: 5rem;
}

.music-header{
    color: #ffffff;
    text-align: center;
    margin-bottom: 1rem;
}

.music-header h1 {
    font-size: var(--header-font-size);
    font-weight: var(--font-semi-bold);
}

.music-header p {
    font-size: var(--basic-font-size);
}

.music-container{
    background-color: #eaeaea;
    padding-block: 1rem;
    padding-inline: 3rem;
    border-bottom: .1rem solid #cdcdcd
}

.music-container h2{
    font-size: 1.6rem;
    font-weight: var(--font-semi-bold);
    margin-bottom: .3rem;
}

.music-container p{
    font-size: var(--basic-font-size);
}

.music-col {
    display: flex;
}

.music-image{
    margin-right: 3rem;
}

.music-image img{
    width: 6rem;
    object-fit: cover;
}

.music-info p{
    margin-block: .2rem;
}