altair-saver
Flask
WTForms
Flask-WTF
email_validator
python-dotenv
flask_sqlalchemy
bcrypt
cryptography
pyotp
markupsafe
flask_login
pytest
Flask-Uploads
pandas
Flask-Paginate
scikit-learn
nltk
playwright
pyee
python-dateutil
pytz
openpyxl
google-search-results
parsel 
selenium
webdriver_manager
bs4
requests-html
pytest
Flask-Testing
coverage
pytest-cov